* {
    padding: 0 auto;
    margin: 0 auto;
}

h2{
    font-family: "PT serif";
}


/* Style home page  */
.logo {
    width: 100px;
}

/* Style project page */
.project-img {
    width: 100%;
    height: 100%;
    border: 1px solid #520068;
    background-size: cover;
}

.card {
    background-color: #edd7ff;
    border: 1px solid #520068;
    height: auto;
}

:hover.card{
    background-color: #520068;
    color: white;
}

a{
    text-decoration: none;
}


/* Style contact me page  */
.contact-container, .lead{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #edd7ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/* footer */
footer {
    bottom: 0;
    width: 100%;
    color: #7243D1;
    padding: 10px 0;
    text-align: center;
}
.social-icons {
    position: absolute;
    /* left: 5%; */
    /* bottom: 20px; */
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.social-icons a {
    color: #7243D1;
    font-size: 24px;
    text-decoration: none;
}
.social-icons a:hover {
    color: #520068;
}