* {
    padding: 0 auto;
    margin: 0 auto;
}


/* Style home page  */
.logo {
    width: 100px;
}

/* Style project page */
.project-img {
    width: 100%;
    background-size: cover;

}


/* Style contact me page  */
.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.social-links a {
    margin: 0 10px;
    color: #495057;
    font-size: 24px;
    transition: color 0.2s;
}

.social-links a:hover {
    color: #007bff;
}